
@font-face {
    font-family: 'courier_prime_codeitalic';
    src: font_url('courier_prime_code_italic-webfont.woff2') format('woff2'),
         font_url('courier_prime_code_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'courier_prime_coderegular';
    src: font_url('courier_prime_code-webfont.woff2') format('woff2'),
         font_url('courier_prime_code-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}