@import "bootstrap"; 

.booyah-box {
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px; 
  margin-bottom: 15px; 
  padding: 20px;
  border-radius: 10px;  
  background-color: white; 
  font-family: cooper; 
}

.whole-body { 
  background: url('nomster2-background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: cooper;
  font-kerning: 2px;  
 }

 .top-bar { 
  background-color: white;
  box-shadow: 2px 2px 5px; 
  }

h1, h2, h3, h4, h5, h6 { 
  padding: 0px;
  margin: 0px;
 }